body {
    background: #AFEEEE;
    position: center;
    border: 5px solid black;
    border-radius: 20%;
    height: 520px;
    width: 500px;
  }
  hr {
    width: 90%;
    position: center;
    border-top: 1px solid grey;
  }
  #result {
    color: blue;
    font-size: 18px;
    margin: 10px;
  }
  h1 {
    margin-left: 70px;
    margin-top: 30px;
  }
  section {
    margin-left: 25px;
  }
  #results-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: black;
    font-size: 20px;
    background: #AFEEEE;
    padding-left: 2em;
    padding-top: 2em;
  }
  
  #results {
    background: white;
    position: absolute;
    width: 50vw;
    height: 50vh;
    border-radius: 20%;
  }
  
  